// Code horizontal scroll bar is not aligned correctly
div.line-numbers-mode pre {
	padding-left: 1em !important;
	margin-left: 3.5em !important;
}

// Sub groups are grayed out
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
	opacity: 1 !important;
}

.site-name{
	display:none !important;
}

.depth-1 .sidebar-heading{
	font-size: 1em !important;
}